<% if @user %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
    <h2>
          <%= pluralize(@user.errors.count, "error") %>
    </h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
<% end %>

<h1>Log-In Page</h1>
  <form method="POST" action="/login">
    <label for "username">Username: </label>
    <input type="text" name="username">
      
    <label for "password">Password: </label>
    <input type="password" name="password">
      
    <input type="submit" value="Log In">
  </form>
