<html> 
  <head>
    <style>
      h1 {text-align: center;}
      h2 {text-align: center;}
    </style>
  </head>
    <body>
      
      <h1>Exercise Logger</h1>
      <br>
      <h2>Please <a href="/login">Log-in</a> or <a href="/signup">Sign-Up</a>!</h2>
    
  </body>
</html>

