<html>
  <head>
    <style>
      h1 {text-align: center;}
      h2 {text-align: center;}
    </style>
  </head>
  <body>
    <h1>Welcome to the Exercise Logger!</h1>
    <br>
    <h2>Sign-Up Below:</h2>
    <br>
    <form method="POST" action="/signup">
      <label for "username">Username: </label>
      <input type="string" name="string">
      
      <label for "email">Email Address: </label>
      <input type="string" name="email">
      
      <label for "password">Password: </label>
      <input type="string" name="password">
      
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>