<h1>Welcome to the Exercise Logger!</h1>
<br>
<h2>Sign-Up Below:</h2>
<br>
<% if @user %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
<% end %>
<br>
  <form method="POST" action="/signup">
    <label for "username">Username: </label>
    <input type="text" name="username">
      
    <label for "email">Email Address: </label>
    <input type="text" name="email">
      
    <label for "password">Password: </label>
    <input type="password" name="password">
      
    <input type="submit" value="Sign Up">
  </form>
